<%= render "shared/guardian_card", guardian: @guardian %>
  <div class="container row">
    <ul class="collection col s12 m6 offset-m3">
      <% @guardian.students.active.each do |student| %>
        <%= render "shared/collection",
            contact: student,
            path: student_path(student),
            relationship: "Student" %>
      <% end %>
    </ul>
  </div>
</div>


<div class="fixed-action-btn">
  <%= link_to (render "shared/icon", icon: "create"),
      edit_guardian_path(@guardian),
      class: "btn-floating btn-large waves-effect waves-light amber accent-2" %>
  <ul>
    <%= render "shared/buttons/sm",
        icon: "delete",
        path: "#delete-modal",
        id: "delete" %>
  </ul>
</div>

<%= render "shared/delete_modal",
    model: @guardian,
    path: guardian_path(@guardian, student_id: @student_id) %>

<%= render "shared/help/modal",
    header: "Primary Contact",
    text: Dialogue.primary_contact_help %>
