<div class="container">
  <%= render "/shared/forms/header", header: "Message to: #{@message.contact.contactable.name}" %>

  <div class="row">
    <%= form_for @message do |f| %>

      <% if @group %>
        <%= hidden_field_tag "group_id", @group.id %>
      <% else %>
        <%= hidden_field_tag "contact_id", @message.contact_id %>
      <% end %>

      <div class="input-field">
        <%= f.label :body %>
        <%= f.text_area :body, class: "materialize-textarea" %>
      </div>
      <div class="input-field align-right">
        <%= f.submit "Send", class: "btn waves-effect waves-light indigo darken-3"  %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/help/modal', header: "Message", text: Dialogue.new_message_help  %>
</div>
