<div class="container">
  <h4>
    New Student
    <%= render 'shared/help/button' %>
  </h4>

  <div class="row">
    <%= form_for @student do |f| %>
      <%= hidden_field_tag "group_id", @group_id %>
      <div class="input-field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
      <div class="input-field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
      <div class="input-field">
        <%= label_tag :phone_number %>
        <%= telephone_field(:contact, :phone_number) %>
      </div>

      <div class="input-field">
        <%= select_tag :language_code, options_for_select(Languages.all, selected = "en"), id: "language-select" %>
        <%= label_tag "Language" %>
      </div>

      <div class="input-field align-right">
        <%= f.submit "Create", class: "btn waves-effect waves-light indigo darken-3"  %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/help/modal', header: "Students",
                                  text: Dialogue.new_student_help %>
</div>
