<div class="container">
  <div class="row">
    <h4>
      <%= header_text %>
      <%= render 'shared/help/button' %>
    </h4>
  </div>

  <div class="row">
    <%= form_for @guardian do |f| %>
      <%= hidden_field_tag "student_id", @student_id %>

      <div class="input-field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="input-field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <div class="input-field">
        <%= label_tag :phone_number %>
        <%= telephone_field(:contact, :phone_number, value: @guardian.phone_number) %>
      </div>

      <div class="input-field">
        <%= select_tag :language_code, options_for_select(Languages.all, selected = @guardian.language_code), id: "language-select" %>
        <%= label_tag "Language" %>
      </div>

      <div class="input-field">
        <%= select_tag :relationship, options_for_select(RelationshipDropDown.all, selected = "Mother"), id: "relationship-select" %>
        <%= label_tag "Relationship" %>
      </div>


        <div class="switch">
          <label>
            <h6> Primary contact? </h6> No
            <input type="checkbox" name="primary_contact" id="primary-contact" checked="#@guardian.primary">
            <span class="lever"></span>
            Yes
          </label>
        </div>



      <div class="input-field align-right">
        <%= f.submit submit_text, class: "btn waves-effect waves-light indigo darken-3"  %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/help/modal', header: "Guardians",
                                  text: modal_text %>
</div>
