<div class="container row">
  <% if @groups.count > 0 %>
    <% @groups.each do |group| %>
      <%= render "shared/group_index_card", group: group %>
    <% end %>
  <% else %>
    <%= render "shared/help/open_modal",
        header: "Time to make some groups!",
        text: Dialogue.how_to_make_groups,
        link_text: "Create your first group",
        link_path: new_group_path %>
  <% end %>
</div>

<%= render "shared/buttons/group_index_button" %>
<%= render "shared/help/group_message_modal" %>
<%= hidden_field_tag "selected_group" %>
