<div class="container">
  <h4>
    New Group
    <%= render 'shared/help_button' %>
  </h4>

  <div class="row">
    <%= form_for @group do |f| %>
      <div class="input-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="input-field align-right">
        <%= f.submit "Create", class: "btn waves-effect waves-light indigo darken-3"  %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/help_modal', header: "Groups", text: Dialogue.new_group_help  %>
</div>
