<div class="card">
  <div class="card-content">
    <h4>
      <%= contact.name %>
      <% if contact.class == Guardian && contact.primary %>
        <a href="#modal1" class="waves-effect waves-light amber-text text-accent-2", id="primary-contact">
          <%= render "shared/icon", icon: "star" %>
        </a>
      <% end %>
    </h4>
    <table>
      <tr>
        <th>Phone:</th>
        <td><%= contact.phone_number %></td>
      </tr>
      <tr>
        <th>Language:</th>
        <td><%= contact.language %></td>
      </tr>
      <% if contact.class == Guardian %>
        <tr>
          <th>Relationship:</th>
          <td><%= contact.relationship_type %></td>
        </tr>
      <% end %>
      <tr>
        <th>Total messages:</th>
        <td><%= contact.messages.count %></td>
      </tr>
    </table>
  </div>
</div>
