<div class="container">
  <%= render "/shared/forms/header", header: "Add Existing Student" %>

  <div class="row">
    <%= form_tag(add_student_path(@group), method: "post") do %>
      <div class="input-field">
        <%= select_tag :student,
            options_for_select(AddContactable.new(current_user).student_dropdown),
            id: "student-select" %>
        <%= label_tag "Add existing student" %>
      </div>

      <div class="input-field">
        <%= submit_tag "Add", class: "btn waves-effect waves-light indigo darken-3"  %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/help/modal',
      header: "Adding an existing student",
      text: Dialogue.existing_student_help %>
</div>
